// clearfix, use @include clearfix to add
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
// apply flex-page styles
#wrapper {
    @extend %flex-wrapper;
}
.content {
    @extend %flex-content;
}
.float-right {
    float: right;
}
