<header class="global">
    <div class="ng-class:{active: ui.confirmShow}; confirmation">
        <div class="wrapper">
            <div class="message" ng-bind-html="ui.confirmText"></div>
        </div>
    </div>
</header>
{{>modal}}
