<head>
    <title>Botkit Studio by Howdy</title>

    <!-- <link rel="icon" type="image/png" href="/assets/BKS_16px.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/BKS_144px.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/BKS_114px.png"> -->

    <script src="https://use.fontawesome.com/241a5a332b.js"></script>

    <link rel="stylesheet" href="/css/new.css" />
    <script src="/js/bower_components/angular/angular.min.js"></script>
    <script src="/js/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/js/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/js/bower_components/angular-elastic/elastic.js"></script>
    <script src="/js/bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="/js/bower_components/clipboard/dist/clipboard.min.js"></script>
    <script src="/js/bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- angular color selector -->
    <link rel="stylesheet" href="/js/bower_components/angular-color-picker/dist/angularjs-color-picker.min.css" />
    <script src="/js/bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="/js/bower_components/angular-color-picker/dist/angularjs-color-picker.min.js"></script>



</head>
