<div class="ng-class: {visible: ui.modalVisible}; modal-overlay">
    <div class="modal">
        <span ng-bind-html="ui.modalText"></span>
        <button ng-click="hideModal()">OK</button>
    </div>
</div>
