<div id="nav">
    <ul>
        <li>
            <a href="/admin" title="Scripts">
                <i class="fas fa-comment-alt"></i>
                Scripts
            </a>
        </li>
        <li>
            <a href="/admin/config" title="Config">
                <i class="fas fa-cogs"></i>
                Options
            </a>
        </li>
    </ul>
</div>