.block {
    @include clearfix;
    border-color: #CCC;
    border-style: solid;
    border-width: 2px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;

    p {
        margin-top: 0px;
        margin-bottom: 1rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    button {
        @include text-button;
    }

    code {
        padding: 0;
    }

}
