footer {
  background-color: $botkit-studio-brand-color;
  clear: both;
  padding: .2em;
  p {
    font-size: 75%;
    text-align: center;
    padding: .5em 1em 0;
    @include MQ(XS) {
      padding: 1em 3em 0;
      text-align: left;
      display: inline-block;
    }
    a {
      margin-right: 1em;
      color: $dark-gray;
    }
  }
  p.right {
    color: $dark-gray;
    @include MQ (S) {
    float: right;
    }
  }
}
