$header-height: 44px;
$header-padding: $unit;
$header-content-height: $header-height;
$identity-line-height: $header-content-height;
$header-menu-option-color: $translucent-white;
$header-default-background-color: $botkit-studio-brand-color;
$header-alert-alignment: center;
$header-default-background-color: $white;

@mixin saved-alert {
    &.saved {
        transition: all ease-out .2s;
        background-color: $success-color;
        &::after {
            display: inline-block;
            margin-left: 39%;
            margin-right: auto;
            content: "Saved";
            color: $white;
            font-weight: bold;
            font-size: 1.3em;
        }
    }
}

header {
    height: $header-height;
    padding-left: $unit * 2;
    background-color: $purple;
    transition: background-color .2s;
    @include clearfix;
    @include saved-alert;
}
.logo {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    height: $header-content-height;
}
.header-menu {
    font-weight: bold;
    float: right;
    line-height: $identity-line-height;
    box-sizing: border-box;
    ul.header-menu-option {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        color: $dark-gray;
        > li {
            display: inline-block;
            padding-left: $spacing-unit/2;
            padding-right: $spacing-unit/2;
            background-color: $header-menu-option-color;
            height: $header-height;
            &:last-child {
                padding-right: $spacing-unit /2;
            }
            &.user{

            }
            &.dropdown {
                &::after {
                    float: right;
                    margin-right: unit;
                    font-size: 12px;
                    content: "\25bc";
                    margin-left: 4px;
                    padding: 2px;
                }
                &.closed::after {
                    content: "\25b6";
                }
                &:hover {
                    .dropdown-content {
                        display: block;
                    }
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                margin-left: -15px;
                background-color: $gray;
                min-width: 160px;
                box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
                z-index: 20;
                li {
                    padding-left: $spacing-unit/2;
                    padding-right: $spacing-unit/2;
                    box-sizing: border-box;
                    display: block;
                    &:hover {
                        background-color: $gray-2;
                    }
                }
            }
        }
    }
    a {
        text-decoration: none;
        &:visited {
            color: $main-blue;
        }
    }
}
.user {}
.customer {}
