hr {
    border: 0;
       height: 20px;
       width: 100%;
       background: url(../assets/patterns/squiggle.png) 50% 0 no-repeat;
       margin: 2em 0;
       &.blue {
        background: url(../assets/patterns/squiggle-dark.png) 50% 0 no-repeat;
       }
       &.cantelope {
       background: url(../assets/patterns/squiggle-cantelope.png) 50% 0 no-repeat;
       }
}
