$input-border-color: $mid-gray;

@mixin ng-invalid {
    &.ng-invalid.ng-dirty {
        border-color: $danger-color;
    }
}

@mixin script-text-input {
    @include ng-invalid;
    border: 2px solid $input-border-color;
    padding: $unit;
    font-weight: 100;
    &:focus,
    &:active {
        border: 2px solid $main-blue;
        outline: 0;
    }
    &:hover {
        border-color: $main-blue;
    }
    &.invalid {
        border-color: $danger-color;
    }
}

@mixin textarea-grow {
    resize: vertical;
    resize: none;
}

@mixin list-text-button-combo {
    display: flex;
    font-size: 16px;
    input {
        margin-bottom: 0;
        flex: 1;
        box-sizing: border-box;
    }
    form {
        margin: 0;
        display: flex;
        width: 100%;
    }
    button {
        float: right;
    }
}

@mixin inset-shadow {
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .4);
}

.script-settings, .script-editor, .login {
    input[type="text"],
    input[type="url"],
    input[type="password"],
    textarea {
        @include script-text-input;
        border: 2px solid $input-border-color;
        font-size: 1em;
    }
    .script_type {
        margin-bottom: $unit;
    }
}

.invalid,
.invalid .select-search,
.invalid oi-select.focused .select-search {
    border-color: $danger-color;
    background-color: lighten($danger-color, 50%);
    @include attention;
    input {
        color: $danger-color;
        background-color: lighten($danger-color, 50%);
    }
}

.label-input {
    display: flex;
    label {
        display: inline-block;
        font-weight: 400;
        width: auto;
        line-height: 38px;
        margin-right: $unit*2;
    }
    input[type="text"],
    input[type="url"] {
        flex: 1;
    }
    padding: $unit;
}

.add-entry {
    @include list-text-button-combo;
    input[type="text"] {
        padding: 5px;
        font-weight: 100;
        border: 2px solid $mid-gray;
        border-right: 0;
        font-size: 1em;
    }
    button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
