$breadbrumb-unavailable-color: $gray;

$navigation-height: 42px;
$navigation-background-color: $seafoam-light;


@mixin crumb-styles {
    &.unavailable {
        color: $breadbrumb-unavailable-color;
        a {
            color: $breadbrumb-unavailable-color;
        }
    }
    &.current,
    &.current a {
        font-weight: bold;
        color: $dark-gray;
    }
}

.navigation {
    display: none; //turning this off for now
    @include clearfix;
    box-sizing: border-box;
    min-height: $navigation-height;
    background-color: $navigation-background-color;
    padding-left: $unit;
    padding-top: $unit;
    width: 100%;
    font-family: "GT-Haptik-Light",sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    a {
        text-decoration: none;
        margin-right: $spacing-unit /2;
        margin-left: $spacing-unit /2;
        padding-left: $unit * 2;
        padding-right: $unit * 2;
        padding-bottom: 3px;
        padding-top: 3px;
        border-radius: 3px 3px 0px 0px;
        &:hover {
            background-color: $white;
            border-bottom: 2px solid $light-gray;
        }
        &.current {
            color: $black;
            background-color: $white;
            border-bottom: 2px solid $white;
            //background-color: $app-background-blue;
        }
        &:active {
            color: inherit;
        }
    }
}

.breadcrumbsbar {
    display: inherit;
    max-width: 800px;
    padding-left: 0;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    li {
        @include crumb-styles;
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        padding: 0;
        &::before {
            speak: none;
            font-style: normal;
            font-weight: bold;
            font-variant: normal;
            text-transform: none;
            line-height: 0.8;
            margin: 0 -2px 0 2px;
            font-size: 0.8em;
            content: "〉";
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        &:first-child::before {
            display: none;
        }
        a {
            text-transform: capitalize;
            text-decoration: none;
            &.active {
                color: #fff;
                border-bottom: 2px solid $main-blue;
            }
        }
    }
}
