.bot-stats {
    box {
        width: 900px;
    }
}

.stats {
    margin: $spacing-unit/2;
}

.stat {
    width: auto;
    overflow: hidden;
    position: relative;
    border-radius: 3px 3px 0 0;
    display: inline-block;
    margin: $spacing-unit/2;
    .stat-data {
        display: block;
        position: relative;
        text-align: center;
        font-size: 50px;
        background-color: $green;
        color: $white;
    }
    .stat-label {
        background-color: white;
        font-size: 30px;
    }
}
