<div class="inspector">
    <div class="inspector-content">
        <h5 class="expandable ng-class: {closed: !ui.properties, open: ui.properties};" ng-click="toggleSidebar('properties')">Message Properties</h5>
        <div class="script-properties sidebar-cell" ng-show="ui.properties" ng-mouseover="setHelp('properties')" ng-include="properties()">
        </div>
    </div>
    <div class="inspector-content">
        <h5 class="expandable ng-class: {closed: !ui.triggers, open: ui.triggers};" ng-click="toggleSidebar('triggers')">Triggers</h5>
        <div class="script-triggers sidebar-cell" ng-show="ui.triggers" ng-mouseover="setHelp('triggers')">
            <form name="formHolder.add_trigger" ng-submit="addTrigger()">
            <ul class="triggers">
                <li>
                        <select ng-model="trigger.type">
                            <option value="string">Exact String Match</option>
                            <option value="regexp">Regular Expression</option>
                            <option value="intent" ng-if="bot.settings.luis">Intent from LUIS.ai</option>
                        </select>
                </li>
                <li class="add-entry" ng-if="trigger.type=='intent'">
                    <select ng-model="trigger.pattern" ng-options="intent.name as intent.name for intent in intents track by intent.name">
                    </select>
                    <button type="submit">Add</button>
                </li>
                <li class="add-entry" ng-if="trigger.type!='intent'">
                    <input type="text" ng-model="trigger.pattern" required placeholder="New Trigger" />
                    <button type="submit">Add</button>
                </li>
                <li class="condition" ng-repeat="trigger in command.triggers">
                    {% trigger.pattern %} ({% trigger.type %})
                    <button class="row-delete" ng-click="removeTrigger($index)"></button>
                </li>
            </ul>
        </form>

        </div>


        <!-- <h5 class="expandable ng-class: {closed: !ui.variables, open: ui.variables};" ng-click="toggleSidebar('variables')">Variables</h5>
        <div class="script-variables sidebar-cell" ng-show="ui.variables" ng-mouseover="setHelp('variables')">

            <ul class="variables">
                <li class="add-entry">
                    <form name="formHolder.add_variable" ng-submit="addVariable(variable)">
                        <input type="hidden" ng-model="variable.type" required value="string" />
                        <input type="text" ng-model="variable.name" placeholder="New Variable" />
                        <button type="submit">Add</button>
                    </form>
                </li>
                <li class="variable" ng-repeat="variable in command.variables">
                    {% variable.name %}
                    <button class="row-delete" ng-click="removeVariable(variable, $index)"></button>
                </li>
            </ul>
        </div> -->



        <h5 class="expandable ng-class: {closed: !ui.help, open: ui.help};" ng-mouseover="setHelp('help');" ng-click="toggleSidebar('help')">Help</h5>
        <div class="help-window sidebar-cell" ng-show="ui.help" ng-bind-html="help.text">
        </div>
    </div>
</div>
