<div ng-include="'/js/partials/sidebar.html'" class="sidebar_container"></div>
<div class="gui-column">
    <div class="gui-window" ng-click="unfocus()">
        <div class="gui-window-container" ng-mouseover="setHelp('chat');">

            <!-- <div class="message-wrapper insert">
                <div class="insert-line">
                    <button class="add-card-button" ng-click="addLineAt(0); $event.stopPropagation()"></button>
                </div>
            </div> -->

            <div dnd-list="thread.script"  dnd-allowed-types="['message']">
                <div class="card-loop" ng-repeat="line in thread.script"
                 dnd-draggable="line"
                 dnd-moved="thread.script.splice($index, 1); processGroups();"
                 dnd-effect-allowed="move"
                 dnd-type="'message'"
                 dnd-disable-if="$index == (thread.script.length-1)"
                 >

                 <div ng-if="line.placeholder && ui.editor_mode=='facebook'" class="message_placeholder">
                     <button ng-click="fb_insertAttachment(line,'image'); $event.stopPropagation()">Media Message</button>
                     <button ng-click="fb_insertAttachment(line,'button'); $event.stopPropagation()">Button Template</button>
                     <button ng-click="fb_insertAttachment(line,'generic'); $event.stopPropagation()">Generic Template</button>
                     <button ng-click="removeLineAt($index); $event.stopPropagation();" class="danger">Cancel</button>
                 </div>

                <!-- START BOT MESSAGES -->
                <!-- DEFINES THE NORMAL MESSAGE BOX -->
                <div ng-if="!line.placeholder && line.text" class="ng-class: {focused: line.focused}; message-wrapper bot">
                    <div class="ng-class: {first_in_group: line.first_in_group, last_in_group: line.last_in_group, middle_of_group: line.middle_of_group}; message bot" ng-click="focus(line); $event.stopPropagation()">
                        <div class="message-box" ng-if="ui.editor_mode=='slack' || (ui.editor_mode=='facebook' && !line.fb_attachment)">
                            <button class="delete" ng-click="removeLineAt($index)"></button>
                            <div class="bot-statement">
                                <span class="username botname">{% bot.name %}</span>
                                <div class="renderarea" ng-bind-html="rendered(line.text[0])"></div>
                            </div>
                        </div>
                        <div class="fb_attachment" ng-if="ui.editor_mode=='facebook' && line.fb_attachment">
                            <button class="delete" ng-click="removeLineAt($index)"></button>

                            <div class="bot-statement media" ng-if="line.fb_attachment.type">
                                    <div ng-if="line.fb_attachment.type=='image'" class="media">
                                        <strong>[IMAGE]</strong>
                                        <p>URL: <a ng-href="{% line.fb_attachment.payload.url %}">{% line.fb_attachment.payload.url %}</a></p>
                                        <!-- <img ng-src="{% line.fb_attachment.payload.url %}" /> -->
                                    </div>
                                    <div ng-if="line.fb_attachment.type=='audio'" class="media">
                                        <strong>[AUDIO]</strong>
                                        <p>URL: <a ng-href="{% line.fb_attachment.payload.url %}">{% line.fb_attachment.payload.url %}</a></p>
                                        <!-- <audio ng-src="{% line.fb_attachment.payload.url %}" /> -->
                                    </div>
                                    <div ng-if="line.fb_attachment.type=='video'" class="media">
                                        <strong>[VIDEO]</strong>
                                        <p>URL: <a ng-href="{% line.fb_attachment.payload.url %}">{% line.fb_attachment.payload.url %}</a></p>
                                        <!-- <video controls>
                                            <source ng-src="{% line.fb_attachment.payload.url %}" />
                                        </video> -->
                                    </div>
                                    <div ng-if="line.fb_attachment.type=='file'" class="media">
                                        <strong>[FILE]</strong>
                                        <p>URL: <a ng-href="{% line.fb_attachment.payload.url %}">{% line.fb_attachment.payload.url %}</a></p>
                                        <!-- <a ng-href="{% line.fb_attachment.payload.url %}">Download File</a> -->
                                    </div>
                            </div>

                            <div class="button_template" ng-if="line.fb_attachment.template_type=='button'">
                                <div class="renderarea" ng-bind-html="rendered(line.text[0])"></div>
                                <div class="fb_button" ng-repeat="button in line.fb_attachment.buttons">
                                    {% button.title %}
                                </div>
                            </div>

                            <div class="generic_templates" ng-if="line.fb_attachment.template_type=='generic'">
                                <div class="generic_template" ng-repeat="element in line.fb_attachment.elements">

                                    <div ng-if="element.image_url"class="element_img" style="background-image: url({% element.image_url %});"></div>
                                    <div class="body">
                                        <p class="element_title">{% element.title %}</p>
                                        <p class="element_subtitle" ng-if="element.subtitle">{% element.subtitle %}</p>
                                        <p class="element_url" ng-if="element.item_url">{% element.item_url %}</p>
                                    </div>
                                    <div class="fb_button" ng-repeat="button in element.buttons">
                                        <div ng-if="button.type=='element_share'">
                                            Share
                                        </div>
                                        {% button.title %}
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="attachments" ng-if="ui.editor_mode=='slack'" dnd-list="line.attachments" dnd-allowed-types="['attachment']">
                            <div class="attachment" style="border-left-color: {% attachment.color || '#CCC' %}" ng-repeat="attachment in line.attachments track by $index"
                            dnd-draggable="attachment"
                            dnd-type="'attachment'"
                            dnd-moved="line.attachments.splice($index, 1);"
                            dnd-effect-allowed="move"
                            >
                                <p class="attachment-title" ng-if="attachment.title">{% attachment.title %}</p>
                                <p class="attachment-text" ng-if="attachment.text">{% attachment.text %}</p>

                                <div class="ng-class: {short: field.short};" ng-repeat="field in attachment.fields track by $index">
                                    <p ng-if="field.title" ng-if="field.title">
                                        <label>{% field.title %}:</label>
                                    </p>
                                    <p ng-if="field.value" ng-if="field.value">{% field.value %}</p>
                                </div>
                                <div ng-repeat="action in attachment.actions track by $index">
                                    <button class="slack_{% action.style %}">{% action.text %}</button>
                                </div>
                            </div>
                        </div>

                        <div class="teams_attachments" ng-if="ui.editor_mode=='teams'">
                            <div class="attachment" ng-repeat="attachment in line.platforms.teams.attachments track by $index">
                                {% attachment.type %}
                            </div>
                        </div>


                        <div ng-if="ui.editor_mode=='facebook' && line.quick_replies" class="quick_replies">
                            <div class="quick_reply" ng-repeat="reply in line.quick_replies">
                                <span ng-if="reply.content_type == 'location'">Location</span>
                                <span ng-if="reply.content_type != 'location'">{% reply.title %}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END BOT MESSAGES -->



                <!-- START USER MESSAGES -->
                <div class="ng-class: {focused: line.focused_user}; message-wrapper user" ng-if="line.collect" ng-click="focusUser(line); $event.stopPropagation()">

                    <div class="message user">
                        <div class="user-statement">
                            <span class="username">Usercat</span>
                            <div class="user-statement-symbol">
                                <ul class="utterances" ng-if="line.collect && line.collect.options && line.collect.options.length>1">
                                    <li class="utterance" ng-if="!option.default" ng-repeat="option in line.collect.options">&ldquo;{% option.pattern %}&rdquo;</li>
                                </ul>
                                <span ng-if="!line.collect || !line.collect.options || line.collect.options.length<=1">
                                    &ldquo;Meow!&rdquo;
                                </span>
                                <span ng-if="line.collect.key">stored in <span class="variable">{{responses.{% line.collect.key %}}}</span></span>
                            </div>
                        </div>
                        <div class="summary">
                            <!-- <span class="user-statement-wait-message">Wait for human to respond...</span> -->
                            <!-- <p class="condition" ng-repeat="option in line.collect.options" ng-if="features.conditionals && !option.default">
                                <a ng-click="navigate(option.action,$event)" ng-bind-html="renderOption(option,line.collect.options.length)"></a>
                            </p> -->
                            <p class="condition" ng-repeat="option in line.collect.options" ng-if="features.conditionals && option.default">
                                <a ng-click="navigate(option.action,$event)" ng-bind-html="renderOption(option,line.collect.options.length)"></a>
                            </p>
                        </div>
                        <!-- APPEARS IF MESSAGE IS FOCUSED AND IS A QUESTION -->
                    </div>
                </div>

                <!-- END USER MESSAGES -->
                <!-- <div class="message-wrapper insert">
                    <div class="insert-line">
                        <button class="add-card-button" ng-if="!line.action" ng-click="addLineAt($index + 1); $event.stopPropagation()"></button>
                    </div>
                </div> -->

                <!-- START FINAL ACTION -->
                <!-- DEFINES THE FINAL ACTION BOX -->
                <div class="message-wrapper" ng-if="features.final_action && line.action">
                    <div class="card final-action" ng-click="focusOnly(line); $event.stopPropagation()">
                        <div ng-if="line.focused">
                            And then...
                            <select ng-model="line.action" ng-if="line.action != '_new'">
                                <optgroup label="Actions">
                                    <!-- <option value="next">Continue to next card</option> -->
                                    <!-- <option value="repeat">Repeat this card</option> -->
                                    <option value="complete">End and mark successful</option>
                                    <option value="stop" ng-if="features.allow_quit">End and mark failed</option>
                                    <option value="timeout">End and mark timed out</option>

                                </optgroup>
                                <optgroup label="Threads" ng-if="features.branches">
                                    <option ng-repeat="thread in command.script.script" value="{% thread.topic %}">Jump to: {% thread.topic %}</option>
                                </optgroup>
                                <optgroup label="New" ng-if="features.branches">
                                    <option value="_new">Jump to new thread</option>
                                </optgroup>
                            </select>
                            <div class="new-branch" ng-if="line.action=='_new'">
                                <form ng-submit="addThreadAsAction(newbranch, line);">
                                    <div>
                                        <input type="text" ng-model="newbranch" placeholder="New thread name" />
                                        <button type="submit">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div ng-if="!line.focused">
                            <span ng-bind-html="renderLastAction(line)"></span>
                        </div>
                    </div>
                </div>
                <!-- END FINAL ACTION -->
            </div>
            </div>
        </div>
    </div>
    <div class="gui-input">
        <div>
            <input type="text" ng-model="ui.new_line" ng-focus="unfocus()" placeholder="Add a message to the script" ng-keypress="entryKeypress($event)" class="ng-pristine ng-untouched ng-valid">
            <button class="default" ng-click="addLine();">Add</button>
            &nbsp;<button class="default" ng-if="ui.editor_mode=='facebook'" ng-click="addAttachmentLine();">Attach</button>
        </div>
    </div>
</div>
<div class="inspector_container" ng-include="'/js/partials/inspector.html'"></div>
