<div class="secondary-sidebar">
    <!-- <h5>Editor Mode</h5>
    <div class="script-info sidebar-cell" ng-mouseover="setHelp('script_info')">
        <select ng-model="ui.editor_mode">
            <option value="slack">Slack</option>
            <option value="facebook">Facebook</option>
        </select>
    </div> -->
    <h5>Script Info</h5>
    <div class="script-info sidebar-cell" ng-mouseover="setHelp('script_info')">
        <p ng-click="ui.editName=true" ng-if="!ui.editName" class="editable">
            <strong>{% command.command %}</strong>
            <span ng-if="command.description">
                <br />
                {% command.description %}
            </span>
        </p>
        <div class="edit-script-info" ng-if="ui.editName">
            <form ng-submit="saveName()">
                <P>
                    <label>Name:</label>
                    <input type="text" ng-model="command.command" />
                </p>

                <p>
                    <label>Description:</label>
                    <textarea ng-model="command.description"></textarea>
                </p>

                <button class="save" type="submit">Save</button>
            </form>
        </div>

    </div>
    <h5>Platform</h5>
    <div class="sidebar-cell" ng-mouseover="setHelp('platform')">
        <p>{% bot.platform %}</p>
    </div>
    <h5>Code Generator</h5>
    <div class="sidebar-cell" ng-mouseover="setHelp('generator')">
        <p>
            Include dynamic data, validate input,
            or build custom functionality:
            <a href="/app/bots/{% bot.id %}/code/{% command.id %}">Generate code related to this script for your Botkit app</a>
        </p>

    </div>

    <h5>Threads</h5>
    <div class="sidebar-cell" ng-mouseover="setHelp('threads')">
        <ul class="branches">
            <li class="nav ng-class:{active: (thread.topic == thisthread.topic)};" ng-repeat="thisthread in command.script.script" ng-click="setThread(thisthread.topic);">
                <div ng-if="!thisthread.editable">
                    {% thisthread.topic %}
                    <button ng-if="thisthread.topic!='default'" title="delete" class="delete" ng-click="removeThread(thisthread, $event)"></button>
                    <button ng-if="thisthread.topic!='default'" title="edit" class="edit" ng-click="editThread(thisthread, $event)"></button>
                </div>
                <div class="add-entry" ng-if="thisthread.editable">
                    <input type="text" ng-model="ui.rename_thread" />
                    <button class="save" ng-click="renameThread(thisthread,ui.rename_thread)">Save</button>
                </div>
            </li>
            <li class="add-entry">
                <form name="formHolder.create_branch" ng-submit="createThread()">
                    <input type="text" ng-model="ui.newBranch" placeholder="New Thread" />
                    <button type="submit">Add</button>
                </form>
            </li>
        </ul>

    </div>
</div>
