.homepage, .welcome-page {
    background-image: url('/assets/patterns/Multicolor.png');
}

.homepage, .welcome-page {
    .call-to-action {
        text-align: center;
        margin: 0;
        font-size: 20px;
        opacity: 0;
        @include fadeIn( .3s, .5s, forwards);
    }
    .box {
        display: block;
        flex-flow: row wrap;
        max-width: 1020px;
        border: 4px solid $lavender;
        @include clearfix;
        .column, hr {
            opacity: 0;
            @include fadeIn( .8s, .2s, forwards);
        }
    }
    h1 {
        width: 100%;
        text-align: center;
        font-size: 3em;
        margin: 0;
        span.greeting {
            display: inline-block;
            color: $lavender;
            opacity: 0;
            @include popIn(.2s, .5s, forwards);
        }
        span.hello {
            display: inline-block;
            color: $main-blue;
            opacity: 0;
            @include popIn(.2s, .2s, forwards);
        }



    }
    h2 {
        opacity: 0;
        @include popIn(.2s);
        text-align: center;
        font-size: 28px;
        line-height: 60px;
        margin-top: $unit;
        margin-bottom: $unit;
        padding: 0;
        padding-bottom: $unit;
        @include MQ(S) {
            font-size: 42px;
        }
    }

    .column {
        box-sizing: border-box;
        width: 100%;
        padding: $spacing-unit;
        @include MQ(S) {
            width: 50%;
            float: left;
        }

    }
    .bot-face {
        width: 32px;
        height: 32px;
        margin-right: $unit * 2;
    }
    pre {
        padding: 8px 12px;
        overflow-x: auto;
        background: $light-gray;
        border-radius: 3px;
        > code {
            border: 0;
            padding-right: 0;
            padding-left: 0;
            font-family: monospace;
        }
    }
}
