<nav>
    <ul class="branches">
        <li>
            <strong>Threads</strong>
        </li>
        <li ng-if="thisthread.topic=='default'" class="ng-class:{active: (thread.topic == thisthread.topic)};" ng-repeat="thisthread in command.script.script | orderBy: 'topic'" ng-click="setThread(thisthread.topic);">
            <div ng-if="!thisthread.editable">
                <a title="{% thisthread.topic %}">
                    <span class="branchname">{% thisthread.topic %}</span>
                    <nav class="dropdown">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul>
                            <li ng-if="thisthread.topic!='default'" ng-click="editThread(thisthread, $event)">Edit</li>
                            <li ng-click="duplicateThreadModal(thisthread, $event)">Duplicate</li>
                            <li class="delete" ng-if="thisthread.topic!='default'" ng-click="removeThread(thisthread, $event)">Delete</li>
                        </ul>
                    </nav>
                </a>
            </div>
        </li>
        <li  ng-if="thisthread.topic!='default'" class="ng-class:{active: (thread.topic == thisthread.topic)};" ng-repeat="thisthread in command.script.script | orderBy: 'topic'" ng-click="setThread(thisthread.topic);">
            <div ng-if="!thisthread.editable">
                <a title="{% thisthread.topic %}">
                    <span class="branchname">{% thisthread.topic %}</span>
                    <nav class="dropdown">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul>
                            <li ng-if="thisthread.topic!='default'" ng-click="editThread(thisthread, $event)">Edit</li>
                            <li ng-click="duplicateThreadModal(thisthread, $event)">Duplicate</li>
                            <li class="delete" ng-if="thisthread.topic!='default'" ng-click="removeThread(thisthread, $event)">Delete</li>
                        </ul>
                    </nav>
                </a>
            </div>
        </li>
        <li class="add-entry">
          <a ng-click="createThread()">+ Add Thread</a>
        </li>
    </ul>
</nav>
