<div class="editor_modal_box" ng-if="ui.modal_code">
  <header>
    <h1>Code Sample</h1>
    <p>
      Put this code in your bot's `skills/` folder, then customize it to provide dynamic variables, data validation, and additional handlers for this script.
    </p>
  </header>
  <section>
    <textarea rows="10" id="export" readonly ng-model="ui.generated_code"></textarea>
  </section>
  <footer>
    <a class="button" ng-href="{% ui.exported_text %}" download="skill_module.js">Download</a>
    <button ngclipboard data-clipboard-target="#export" ngclipboard-success="clipped(e);" ngclipboard-error="clipError(e);"><i class="fa fa fa-clipboard"></i> {% ui.copy %}</button>
    <button ng-click="ui.modal_code=false">Done</button>
  </footer>
</div>
