// //1 script ui constants
$row-height: 38px;
$gui-controls-height: 30px;
$gui-column-background-color: #FFF; // #dde;
$gui-controls-background-color: $lavender-light;
$gui-input-bar-background-color: $seafoam-light; //3 script ui mixins

$message-column-width: 80%;

$bot-avatar-vertical-position: -40px;
$bot-statement-left-margin: 1.5rem;

@mixin flex-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}
@mixin column-window {
    flex: 1;
    overflow-y: auto;
}
@mixin column-footer {
    height: $row-height;
    min-height: $row-height;
}
@mixin card-delete-button {
     @include corner-button($danger-color);
    color: $mid-gray;
    &:hover {
        color: $white;
    }
}

.inspector {
    font-size: 12px;
}

// Edit page
.script-editor {
    // main page layout components
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    margin: 0;
    min-height: 415px;
    min-width: 550px;
    overflow: hidden;

    .confirmation .message {
        padding: 1rem;
        line-height: 100%;
    }

    button {
        padding: 0;
    }

    .gui-controls {
        //display: none; // turned off the show code button for now
        @include clearfix;
        min-height: $gui-controls-height;
        background-color: $gui-controls-background-color;
        padding: $unit;
        .script-name {
            font-weight: bold;
            margin-left: $unit;
            margin-right: $unit;
            color: $dark-gray;
        }
    }
    .save-button {
        @include save-button;
    }
    .stage {
        display: flex;
        flex: 1;
    }
    .gui-column {
        @include flex-column;
        background-size: 20%;
        background-color: $gui-column-background-color;
        border-left: 1px solid $purple;
        border-right: 1px solid $purple;

        .gui-window {
            @include column-window;
            // padding: 1em;
            display: flex;
            flex-direction: column-reverse;
            z-index: 0;
            // &:after {
            //     content: "";
            //     width: 20px;
            //     flex: 1;
            //     //flex-direction: column-reverse;
            //     background-color: $botkit-light;
            //     float: left;
            // }
        }
        .gui-input {
            @include column-footer;
            @include text-button-combo;
            height: auto;
            background-color: $gui-input-bar-background-color;
        }
    }

    .dndPlaceholder {
        // border-left: 20px solid $purple;
        padding: 0.25rem 1rem 0.25rem 3.5rem;
        min-height: 2rem;
        list-style-type: none;
    }

    .message-wrapper {
        @include clearfix;
        //  border-left: 20px solid $botkit-light;
         padding: 0.25rem 1rem 0.25rem 3.5rem;

         &:hover {
             background-color: #F0F0F0;
         }

         &.focused {
             border-top: 1px solid #ccc;
             border-bottom: 1px solid #ccc;
             box-shadow: 0 5px 20px rgba(0,0,0,0.25);
             background: #fffdd9;
             z-index: 2;
         }

        .message-box {
            position: relative;
        }

        p.condition {
            text-align: center;
            margin: 1rem 0;
        }

    }

    .delete {
        @include card-delete-button;
        background-color: transparent; //subtler unhovered version
        color: $mid-gray;
        position: absolute;
        top: 0;
        right: 0;
    }

    .conditional_statement {

      .renderarea {
         background: #CCC;
         border: 1px solid #666;
         padding: 0.25rem;
      }

    }

    .attachment {
        border-left: 5px solid #CCC;
        margin-top: $unit;
        position: relative;
        padding: 0.25rem 1rem;

        p { margin-bottom: 0.5rem; }

        label { font-weight: bold; }

        @include clearfix;

        button {
            @include slack-style;


            &.slack_primary {
                border-color: #00FF00;
            }

            &.slack_danger {
                border-color: #FF0000;
            }
        }

        .attachment-title {
            font-weight: bold;
        }

    }

    &.slack {
        .message {

            .bot-statement {
                line-height: 150%;
            }

            .username {
                display: none;
                font-weight: bold;
                margin-bottom: 0.25rem;
            }

            &.first_in_group .bot-statement {
                .username  {
                    display: block;
                }

                &::before {
                    content: '🤖';
                   //  content: url('../../assets/icon/icon24_sm.png');
                    transform: scale(2);
                    position: absolute;
                    left: -2rem;
                    top: 10px;
                }
            }

            &.user {

                .user-statement {

                    line-height: 150%;
                    position: relative;

                     .username  {
                         display: block;
                     }


                    &::before {
                        content: '😺';
                       //  content: url('../../assets/icon/icon24_sm.png');
                        transform: scale(2);
                        position: absolute;
                        left: -2rem;
                        top: 10px;
                    }
                }

            }

        }

    }

    &.facebook {

        .message {
            .username {
                display: none !important;
            }

            .user-statement {
                line-height: 150%;

                border-radius: 20px;
                padding: 0.25rem 0.5rem;
                display: inline-block;
                max-width: 75%;

                float: right;
                background-color: #0077e5;
                color: #FFF;

                position: relative;

                .utterances li {
                    color: #FFF;
                }

            }

            .bot-statement {
                line-height: 150%;

                border: 1px solid #F1f0f0;

                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                position: relative;

                background-color: #f1f0f0;
                padding: 0.25rem 0.5rem;
                display: inline-block;
                max-width: 75%;

                &.media {
                    // max-width: 50%;
                    // padding: 0;

                    img {
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                    }
                }
            }

            &:hover .bot-statement {
                border: 1px solid #666;
            }

            &.first_in_group .bot-statement {
                border-top-left-radius: 20px;

                &.media img {
                    border-top-left-radius: 20px;
                }
            }

            &.last_in_group.bot {
                border-bottom-left-radius: 20px;
                position: relative;

                .media img {
                    border-bottom-left-radius: 20px;
                }


                &::before {
                    content: '🤖';
                   //  content: url('../../assets/icon/icon24_sm.png');
                    transform: scale(2);
                    position: absolute;
                    left: -2rem;
                    bottom: 5px;
                }
            }


        }

        .quick_replies {

                text-align: center;

                .quick_reply {
                    display: inline-block;
                    padding: 5px 15px;
                    border: 1px solid #0084ff;
                    color: #0084ff;
                    border-radius: 1.3em;
                    margin: 1rem 0.5rem;
                }

        }

        .fb_attachment {
            position: relative;
        }

        .message:hover .button_template {
            border-color: #666;
        }

        .button_template {

            max-width: 50%;
            border-color: #f1f0f0;
            border-radius: 20px;
            border-style: solid;
            border-width: 1px;
            background: #FFF;

            .renderarea {
                background-color: #f1f0f0;
                padding: 10px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }



        }

        .generic_templates {
            display: flex;
            align-items: center;

            overflow-x: auto;
        }

        .generic_template {

            flex: none;
            width: 50%;
            max-width: 505px;
            border-color: #f1f0f0;
            border-radius: 20px;
            border-style: solid;
            border-width: 1px;
            background: #FFF;

            float: left;
            margin-right: 1rem;

            .body {
                padding: 10px;
            }

            p {
                margin: 0;
            }

            .element_img {
                width: 100%;
                padding-top: 52%;
                background-size: cover;
                background-position: center;
            }

            .element_title {
                font-weight: bold;
            }

        }

        .fb_button {
            color: #0084ff;
            padding: 10px;
            border-top: 1px solid #f1f0f0;
            text-align: center;
        }

    }


}


.inspector button {
    padding: 0.25rem 1rem;
}

.secondary-sidebar button {
    padding: 0.25rem 1rem;
    position: relative;
}

.gui-input button {
    padding: 0.25rem 1rem;
}



.panel {
    background-color: $botkit-light;

    padding: 1em;

    label {
        text-transform: uppercase;
        font-weight: bold;
        color: #666;
    }

    select {
        font-size: 0.8rem;
    }

    h3 {
        font-weight: bold;
        font-size: 1rem;
        color: #333;
        border-bottom: 3px solid #ccc;
    }

    h4 {
        font-weight: bold;
        font-size: 1rem;
        color: #666;
        border-bottom: 1px solid #CCC;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    ul {
        margin-bottom: 1rem;
        background: #FFF;

        ul {
            margin-bottom: 0;
        }

        li {

            border-bottom: 1px solid #CCC;
            padding: 1rem;

            &.label {
                background-color: #CCC;
                padding: 0.5rem 1rem;
                color: #333;
            }

            label {
                display: block;
            }

            label.checkbox {
                width: auto;
            }

            &:last-child {
                border-bottom: 0;
            }

            .row-delete {
                float: right;
            }

            li {
                padding: 0.5rem;
            }

            .add-element {
                background: none;
                padding: 0;
                color: $main-blue;
                border-bottom: 2px solid $main-blue;
            }

            .fields {
                border-left: 5px solid #CCC;
                margin-left: calc(2rem - 5px);
                margin-bottom: 1rem;

                &.invalid_field {
                  border-left-color: $red;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                li {
                    position: relative;
                    display: flex;

                    label {
                        display: block;
                        padding: 5px;
                        width: 100px;

                        &.checkbox {
                            width: auto;
                        }

                    }

                    input, textarea, select {
                        flex: 1;
                    }
                }

                .row-delete {
                    position: absolute;
                    left: -2rem;
                    top: 5px;


                }


            }

            &.alternates {
                padding-left: 2rem;
            }

            &.placeholder_button {
                background: #F0F0F0;
                border: 2px dashed $purple;

                padding: 0;
                &:hover {
                    background: $white;
                    border: 2px dashed $purple;
                }
                button {
                    text-align: right;
                    background: none;
                    color: $purple;
                    width: 100%;
                    padding: 1rem;
                }
            }
        }

    }

}

button.row-delete {
    background: $danger-color;
    padding: 1px;
    width: 21px;
    height: 21px;
    font-size: 14px;
    display: inline-block;
    &::before {
        font-family: FontAwesome;
        content: '\f00d';
        color: $white;
    }
    &:disabled {
        background: #ccc;
    }
}

.sheet {
    ul {
        li {
            display: flex;

            div {
                flex: 1;
            }
        }
    }
}


.carousel {
    display: flex;
    overflow: hidden;

    .horse {
        flex: 1;
        display: none;
        &.current {
            display: block;
        }
    }

}

.carousel_controls {
    text-align: center;
    padding-top: 0.5rem;

    label {
        display: block;
    }
    button {
        display: inline-block;
        border-radius: 25%;
        border: 1px solid #CCC;
        background: none;
        color: $main-blue;
        width: 30px;
        height: 30px;
        padding: 0.25rem;

        &:hover {
            border: 1px solid #666;
        }

        &:disabled {
            color: #ccc;
            border-color: #CCC;
        }

        &.row-delete {

            color: $danger-color;

            &:hover {
                background: $danger-color;
                &:before {
                    color: $white;
                }
            }

            &:before {
                color: $danger-color;
            }

            &:disabled {
                background: none;
                &:before {
                    color: #CCC;
                }
            }


        }

    }
}


.final-action {
     // @include p2;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding: 1rem;
     max-width: 600px;
     .description {
         display: inline-block;
         width: 120px;
     }
     select {
         vertical-align: text-bottom;
     }
 }



 .summary {
     clear: both;
 }


.bot_steps {
    li {
        border-left: 2px dashed $main-blue;
    }
}

ul.conditionals {
        border-left: 5px solid #CCC;
        margin-left: calc(2rem - 5px);

        li {
            position: relative;
            display: block;

            li {
                display: flex;
                label {
                    display: block;
                    padding: 5px;
                    width: 100px;
                }

                input, textarea, select {
                    flex: 1;
                }
            }
        }

        .row-delete {
            position: absolute;
            left: -2rem;
            top: 5px;


        }

}


.utterances {

    display: inline-block;

    li {
        display: inline-block;
        text-transform: uppercase;

        &:after {
            text-transform: none;
            content: ' or ';
            margin: 0 0.5rem;
            font-style: italic;
            display: inline-block;
        }

        &:last-child:after {
            display: none;
        }
    }
}


ul[dnd-list], ul[dnd-list] > li {
    position: relative;
}


.message_placeholder {

    border-top: 1px dashed $purple;
    border-bottom: 1px dashed $purple;
    background: #f0f0f0;
    padding: 1rem;

    text-align: center;

    button {
        display: inline-block;
        padding: 0.5rem 2rem;
        margin: 1rem;
    }

}


.sidebar_container {
    overflow-y: auto;
}
