<div class="panel">
    <ul>
        <li class="label">
            <label>Quick Replies</label>
        </li>
    </ul>
    <ul class="sheet full">
        <li class="header" ng-if="ui.outgoing_message.quick_replies.length">
          <div class="delete">&nbsp;</div>
          <div class="cell">Title</div>
          <div class="cell">Payload</div>
          <div class="cell">Image URL</div>
        </li>
        <li ng-repeat="reply in ui.outgoing_message.quick_replies" class="ng-class:{invalid: reply.invalid}">
            <div class="delete">
                <button class="delete" ng-click="removeQuickReply(ui.outgoing_message,$index);"></button>
            </div>
            <div class="cell">
                <span ng-if="reply.content_type=='text'">
                    <input type="text" ng-model="reply.title" ng-change="makeDirty()">
                </span>
                <span ng-if="reply.content_type=='location'">
                    Location
                </span>
            </div>
            <div class="ng-class:{disabled: reply.content_type=='location'}; cell">
                <span ng-if="reply.content_type=='text'">
                    <input type="text" ng-model="reply.payload" ng-change="makeDirty()">
                </span>
            </div>
            <div class="ng-class:{disabled: reply.content_type=='location'}; cell" >
                <span ng-if="reply.content_type=='text'">
                    <input type="text" ng-model="reply.image_url" ng-change="makeDirty()">
                </span>
            </div>
        </li>
        <li class="placeholder_button" ng-if="!ui.outgoing_message.quick_replies || ui.outgoing_message.quick_replies.length < 11">
            <button ng-click="fb_addQuickReply(ui.outgoing_message,'text')">Add Quick Reply</button>
            <button ng-click="fb_addQuickReply(ui.outgoing_message,'location')">Add Location</button>
        </li>
    </ul>

</div>

<div class="panel">
    <div ng-if="!ui.outgoing_message.fb_attachment">
        <ul>
            <li class="placeholder_button"><button ng-click="fb_addAttachment(ui.outgoing_message,'button')">Add Buttons</button></li>
        </ul>
    </div>
    <div ng-if="ui.outgoing_message.fb_attachment">
        <div ng-if="ui.outgoing_message.fb_attachment.template_type=='button'">
            <div ng-include="'/js/partials/facebook_button_attachment.html'"></div>
        </div>
        <div ng-if="ui.outgoing_message.fb_attachment.template_type=='generic'">
            <div ng-include="'/js/partials/facebook_generic_attachment.html'"></div>
        </div>
        <div ng-if="ui.outgoing_message.fb_attachment.type">
            <div ng-include="'/js/partials/facebook_media_attachment.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'/js/partials/meta_attachments.html'"></div>
